[submodule "nexus"]
	path = nexus
	url = https://github.com/RaidcoreGG/RCGG-lib-nexus-api.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "mumble"]
	path = mumble
	url = https://github.com/RaidcoreGG/RCGG-lib-mumble-api.git
